body {
	width: 100vw;
	height: 90vh;
	background: linear-gradient(-45deg, #5f26cb, #5f26cb, #268BCB, #268BCB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

*{
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flex{
	display: flex;
}

.container{
	align-items: center;
	color: white;
	flex-direction: row;
	font-family: 'PT Sans', sans-serif;
	height: 100vh;
	justify-content: space-evenly;
	padding: 0 0 200px 0;
}

.left{
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 58%;
}

.right{
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 38%;
}

.divider{
	background-color: white;
	height: 50vh;
	width: 3px;
}

.button{
	background: rgba(217,103,15,1);
	background: -moz-linear-gradient(left, rgba(217,103,15,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(219,130,15,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217,103,15,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(100%, rgba(219,130,15,1)));
	background: -webkit-linear-gradient(left, rgba(217,103,15,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(219,130,15,1) 100%);
	background: -o-linear-gradient(left, rgba(217,103,15,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(219,130,15,1) 100%);
	background: -ms-linear-gradient(left, rgba(217,103,15,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(219,130,15,1) 100%);
	background: linear-gradient(to right, rgba(217,103,15,1) 0%, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(219,130,15,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9670f', endColorstr='#db820f', GradientType=1 );
	background-color: #db820f;
	border-radius: 10px;
	margin: 10px 20px;
	min-width: 195px;
/*	padding: 15px;
*/	transition: all .2s ease-in-out;

}

.button:hover{
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}

.button:hover .button__link{
	color: #577182;
	transition: all .2s ease-in-out;
}

.button__link{
	color: white;
	display: block;
	font-size: 1.5rem;
	margin: 0px auto;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.title{
	font-size: 6rem;
}

.subtitle{
	font-size: 1.5rem;
	font-weight: lighter;
}

.buttons-container{
	margin: 60px 0;
}

.title, .subtitle{
	margin: 20px;
}

.list-title{
	font-size: 1.6rem;
	margin: 10px;
}

.list-item{
	color: white;
	font-size: 1.1rem;
	list-style-type: none;
	margin: 8px;
	padding: 0 0 0 10px;
}

.list-item::before {
	content: "• ";
	color: #db820f;
	margin: 10px;
}

@media screen and (max-width: 700px) {
	.container{
		flex-direction: column;
	}

	.divider{
		display: none;
	}

	.right{
	 display: none;
	}

	.buttons-container{
		flex-direction: column;
		margin: 30px 0;
	}

	.subtitle{
		font-style: italic;
		text-align: center;
		width: 90%;
	}
}

