<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108299328-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-108299328-1');
	</script>

	<meta name="author" content="Mike Carbone">
	<meta name="description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">
	<meta name="keywords" content="citation,MLA,gobibit,bibit,cite,bibliography,automatic,generator">
	<meta name="created" content="2017-09-01">
	<meta name="theme-color" content="#268BCB">

	<meta property="og:title" content="goBibIt | Donate">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ static_url('img/home_meta_v01.png') }}">
	<meta property="og:url" content="http://goBibit.com/donate">
	<meta property="og:description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">

	<meta name="twitter:site" value="@goBibit">
	<meta property="twitter:title" content="goBibit | Donate">
	<meta property="twitter:url" content="http://goBibit.com/donate">
	<meta property="twitter:description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">
	<meta name="twitter:card" value="summary_large_image">
	<meta property="twitter:image" content="{{ static_url('img/home_meta_v01.png') }}">

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--<link rel="stylesheet" type="text/css" href="../css/beautifulDonate.css"/>-->
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/beautifulDonate.css') }}"/>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="icon" href="{{ static_url('img/goBibitIcon02_v02.png') }}">

	<title>goBibit | Donate</title>

</head>
<body>

	<header>
		<div id="mySidebar">
			<div class="logo-container">
				<a href="/"><h1 class="shortLogo" id="shortLogo">(B)</h1></a>
			</div>
			<div class="buttonContainer" id="buttonContainer">
				<button id="sidebarButton" onclick="sidebarring()">&#9776;</button>
			</div>

			<div class="sidebarList">
				<a class="sidebarItem" href="/" title="Main page">home</a>
				<a class="sidebarItem" href="/donate" title="Donate">donate</a>
				<a class="sidebarItem" href="/feedback" title="Feedback">feedback</a>
				<a class="sidebarItem" href="/books" title="Cite a book">cite a book</a>
				<a class="sidebarItem" href="/website" title="Cite a website">cite a website</a>
			</div>
		</div>
	</header>

	<div class="main" id="mainDiv">
		<div class="title">
			<h1>This site was made by a student, FOR students.</h1>
		</div>

		<!--<h4>Appreciate the service and would like to help out, or just say thanks? Donations will help keep the goBibit servers up and running for you to use. If enough donations are received, we will continue to stay ad-free and as user-friendly as possible. Feel free to <a href="https://venmo.com/">Venmo</a> the creator any amount <a href="">@carbonemike</a>. We don't run ads, and would like to keep goBibit <strong>AD-FREE</strong></h4>-->
		<div class="text">
			<h4>Like the site? Buy us a round! Venmo @carbonemike and let us know what you think :-)</h4>
			<br>
			<h4>Let's try to keep goBibit <strong>AD-FREE!</strong></h4>
		</div>

		<div class="divider"></div>
		<div class="back1">
			<!--<div class="title">
				<h1>How much?</h1>
			</div>
			<h4>However much you'd like to send! It can be the price of a cup of coffee, a slice of pizza, or even any change you find on the ground. It all helps!</h4>
		</div>-->
		<div class="footer">&copy; 2017 Mike Carbone</div>
	</div>
	
	<script type="text/javascript" src="../js/fancy.js"></script>

</html>