<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="author" content="Mike Carbone">
	<meta name="description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">
	<meta name="keywords" content="citation,MLA,gobibit,bibit,cite,bibliography,automatic,generator">
	<meta name="created" content="2017-09-01">

	<meta property="og:title" content="goBibIt | Feedback">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ static_url('img/home_meta_v01.png') }}">
	<meta property="og:url" content="http://goBibit.com/feedback">
	<meta property="og:description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">

	<meta name="twitter:site" value="@goBibit">
	<meta property="twitter:title" content="goBibit | Feedback">
	<meta property="twitter:url" content="http://goBibit.com/feedback">
	<meta property="twitter:description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">
	<meta name="twitter:card" value="summary_large_image">
	<meta property="twitter:image" content="{{ static_url('img/home_meta_v01.png') }}">

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--<link rel="stylesheet" type="text/css" href="../css/beautifulFeedback.css"/>-->
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/beautifulFeedback.css') }}"/>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="icon" href="{{ static_url('img/goBibitIcon2_v02.png') }}">

	<title>goBibit | Feedback</title>

</head>
<body>

	<header>
		<div id="mySidebar">
			<div class="logo-container">
				<a href="/"><h1 class="shortLogo" id="shortLogo">(B)</h1></a>
			</div>
			<div class="buttonContainer" id="buttonContainer">
				<button id="sidebarButton" onclick="sidebarring()">&#9776;</button>
			</div>

			<div class="sidebarList">
				<a class="sidebarItem" href="/" title="Main page">home</a>
				<a class="sidebarItem" href="/donate" title="Donate">donate</a>
				<a class="sidebarItem" href="/feedback" title="Feedback">feedback</a>
				<a class="sidebarItem" href="/books" title="Cite a book">cite a book</a>
				<a class="sidebarItem" href="/website" title="Cite a website">cite a website</a>
			</div>
		</div>
	</header>

	<div class="main" id="mainDiv">
		<div class="title">
			<h1>Like go(Bibit)? Help make it better!</h1>
		</div>
		<div class="divider"></div>
		<div class="info">
				<ul>
					<li>
						Has the auto-cite missed something for your citation?<br>
					</li>
					<li>
						Do you have a favorite website you'd like to be optimized for goBibit's automatic scans?<br>
					</li>
					<li>
						 Found a bug or glitch?<br>
					</li>
				</ul>
			<h4 class="center-text"> If any of these fit you, send me a tweet <strong><a id="twitter" href="https://twitter.com/gobibit">@goBibit</a></strong> or email me at <strong><a href="contact@gobibit.com" id="twitter"> contact@gobibit.com</a></strong>. I made goBibit for YOU, so let me know how I can make it better.</h4>
		</div>
		<div class="divider"></div>
		<div class="title">
			<h1>Help even MORE!</h1>
		</div>
		<div class="info extend">
			<h4>Head on over to our <a href="www.goBibit.com/donate">donate page</a> and help keep goBibit alive! This is a one man operation, so anything helps out with the costs :-)</h4>
		</div>
		<div class="footer">&copy; 2017 Mike Carbone</div>
	</div>

<script type="text/javascript" src="../js/fancy.js"></script>
	
	
</html>