<!DOCTYPE html>
<html lang="en">
<head>

	<meta name="author" content="Mike Carbone">
	<meta name="description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">
	<meta name="keywords" content="citation,MLA,gobibit,bibit,cite,bibliography,automatic,generator">
	<meta name="created" content="2017-09-01">
	<meta name="theme-color" content="#268BCB">

	<meta property="og:title" content="goBibIt | Welcome">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ static_url('img/home_meta_v01.png') }}">
	<meta property="og:url" content="http://goBibit.com">
	<meta property="og:description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">

	<meta name="twitter:site" value="@goBibit">
	<meta property="twitter:title" content="goBibit | Welcome">
	<meta property="twitter:url" content="http://goBibit.com">
	<meta property="twitter:description" content="A user-friendly web service to help you create citations for your papers. Built by a student, for students.">
	<meta name="twitter:card" value="summary_large_image">
	<meta property="twitter:image" content="{{ static_url('img/home_meta_v01.png') }}">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--<link rel="stylesheet" type="text/css" href="../css/beautifulHome.css"/>-->
	<link rel="stylesheet" type="text/css" href="beautifulHome.css"/>
	<link rel="icon" href="{{ static_url('img/goBibitIcon2_v02.png') }}">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

	<title>goBibit | Welcome</title>

</head>
<body>
	<div class="container flex">
		<div class="left flex">
			<h1 class="title">go(Bibit)</h1>
			<h3 class="subtitle">let's get this party started:</h3>
			<div class="buttons-container flex">
				<div class="button">
					<a class="button__link" href="/books">cite a book</a>
				</div>
				<div class="button">
					<a class="button__link" href="/website">cite a website</a>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="right flex">
			<h3 class="list-title">get better citations, faster</h3>
			<ul>
				<li class="list-item">made by a student, for students</li>
				<li class="list-item">fast and simple</li>
				<li class="list-item"><strong>ad-free</strong></li>
			</ul>	
		</div>
	</div>
	
	
</body>
</html>